<div class='product-details'>
  <div mat-dialog-title class='dialog-header'>
    <h4>{{getProductActionName()}} product</h4>
    <button mat-icon-button color='warn' mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div *ngIf='!productListService.editmode'>
    <div class='preview-content'>
      <button mat-icon-button color='warn' (click)='productListService.toggleEditMode()'>
        <mat-icon>edit</mat-icon>
      </button>
      <div class='product-content'>
        <h5>name</h5>
        <span>{{data.name}}</span>
        <h5>number</h5>
        <span>{{data.number}}</span>
        <h5>description</h5>
        <span>{{data.description}}</span>
        <div *ngIf='data.images.length>0'>
          <h5>images</h5>
          <div class='images-container'>
            <div class='image' *ngFor='let image of data.images'>
              <a href='{{image.url}}' title='Open image in new tab' target='blank'>
                <img src='{{image.url}}'>
              </a>
              <span>{{image.name}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div *ngIf='productListService.editmode' class='edit-content'>
    <app-product-form [product]='data'></app-product-form>
  </div>
</div>
