@import '../../variables.scss';

.product-details {

  width: 740px;

  .dialog-header {
    display: flex;
    justify-content: space-between;
    color: $deep-blue;
    align-items: center;
  }

  .preview-content {
    padding: 0 48px 48px 48px;

    .product-content {
      padding: 48px;
    }

    .images-header {
      display: flex;
      justify-content: space-between;
    }

    .images-container {
      display: flex;
      flex-wrap: wrap;

      .image {
        display: flex;
        flex-direction: column;
        margin: 16px;
        position: relative;

        .remove-button {
          position: absolute;
          border-radius: 50%;
          background-color: rgba(white, 0.8);
        }

        img {
          height: 160px;
          width: auto;
        }
      }
    }
  }

  .edit-content {
    padding: 48px;
  }
}
