<div class="product-details">

  <div mat-dialog-title class="dialog-header">

    <h4>{{productListService.editmode?'Edit':'View'}} product</h4>
    <button mat-icon-button color="primary" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div *ngIf="!productListService.editmode" class="dialog-content">
    <h5>name</h5>
    <span>
      {{data.name}}
    </span>
    <h5>number</h5>
    <span>
      {{data.number}}
    </span>

    <h5>description</h5>
    <span>
      {{data.description}}
    </span>
    <div *ngIf="data.images.length>0">
      <h5>images</h5>
      <div class="images-container">
        <div class="image" *ngFor="let image of data.images">
          <a href="{{image.url}}" title="Open image in new tab" target="blank">
            <img src="{{image.url}}">
          </a>

        </div>
      </div>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button (click)="productListService.toggleEditMode()">Edit</button>
    </mat-dialog-actions>
  </div>

  <div *ngIf="productListService.editmode" class="dialog-content">
    <app-product-form [product]="data"></app-product-form>
  </div>
</div>
