<h5>Name</h5>
<mat-form-field>
  <input matInput placeholder="Type in name" [(ngModel)]="product.name">
</mat-form-field>
<h5>Number</h5>
<mat-form-field>
  <input matInput placeholder="Type in number" [(ngModel)]="product.number">
</mat-form-field>
<h5>Description</h5>
<mat-form-field>
  <textarea matInput placeholder="Type in description" [(ngModel)]="product.description"></textarea>
</mat-form-field>
<div class="images-header">
  <h5>Images</h5>
  <button mat-raised-button color="primary" (click)="newImage()"> Add new image
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
<div class="images-container">
  <div *ngFor="let image of product.images">
    <mat-card class="image">
      <button mat-icon-button color="primary" class="remove-button" (click)="removeImage(image)">
        <mat-icon>delete</mat-icon>
      </button>
      <a href="{{image.url}}" target="blank">
        <img src="{{image.url}}">
      </a>
      <mat-form-field>
        <input matInput placeholder="Image URL" [(ngModel)]="image.url">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Image name" [(ngModel)]="image.name">
      </mat-form-field>
    </mat-card>

  </div>
</div>
<div class="submit-container">
  <button mat-raised-button color="primary" (click)="saveProduct()">Save</button>
</div>
