.images-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images-container {
  display: flex;
  flex-wrap: wrap;

  .image {
    display: block;
    margin: 8px;
    position: relative;

    .remove-button {
      position: absolute;
      border-radius: 50%;
      background-color: rgba(white, 0.8);
    }

    mat-card {
      display: block;
    }

    img {
      height: 160px;
      width: auto;
    }
  }
}

.mat-form-field {
  display: block;
  margin-top: 10px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  padding: 36px 0;
}
